
* {
	margin: 0;
	box-sizing: border-box;
}

body{
    font-size: 18px;
	font-family: 'Bai Jamjuree';
	color: hsl(201, 11%, 66%)
}

h1,h2,h3{
    color: hsl(210, 10%, 33%);
	margin-bottom: 15px;
}

header{
    background-image: url("./images/bg-header-desktop.png");
    width: 100%;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}
header .logo{
    margin-top: 50px;
}

.button-group #ios, #mac {
    border-radius: 30px;
    border: 0px;
    color: white;
    width: 200px;
    height: 50px;
    font-size: 15px;
    margin: 10px;
}
.button-group #mac{
    background-color: hsl(233, 100%, 69%);
}

.button-group #ios{
    background-color: hsl(171, 66%, 44%);
}

.button-group #ios:hover, #mac:hover{
    cursor: pointer;
    opacity: 70%;
    color: white;
}

.header-home-desc{
    text-align: center;
    margin: 50px;
}

.section-about{
    display: flex;
    align-items: center;
}

.img-computer-about{
    width: 100%;
    margin-left: 25px;
    margin-bottom: 50px;
}

.section-about p{
    margin: 0px 50px 50px 100px;
}

.section-about h3{
    margin: 0px 20px 20px 100px;
}

.clipboard-section{
    text-align: center;
    margin: 20px;
}

.clipboard-img{
    width: 600px;
    margin-top: 50px;
}
.workflow-section h1{
    text-align: center;
    margin-bottom: 20px;
}

.workflow-section p{
    text-align: center;
    margin-bottom: 50px;
}

.work-cont{
    display: flex;
    align-items: center;
    text-align: center;
    width: 80%;
    max-width: 900px;
    margin: auto;
}

.clipboard-section2{
    text-align: center;
    margin-bottom: 100px;
}

.cont-supporters{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    gap: 5rem;
    padding: 5rem 0 5rem;
}

footer{
    background-color: #d7ded833;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 3rem 0;
}
 
footer .Myname, .Frontment{
    color: black;
    font-size: 15px;
}

a{
    text-decoration: none;
}
li{
    text-decoration: none;
    list-style: none;
}
.attribution{
    display: flex;
    align-items: center;
}

.attribution li{
    border-radius: 10px;
    border: 0px;
    color: white;
    width: 100px;
    height: 20px;
    font-size: 15px;
    margin: 10px;
}

.attribution li:hover{
    color: white;
    border-radius: 5px;
    background-color:  hsla(171, 66%, 44%, 0.418);
}

.icons{
    justify-content: space-between;
}












